@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-ExtraLight.eot");
    src: url("Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-ExtraLight.woff") format("woff"),
    url("Montserrat-ExtraLight.woff2") format("woff2"),
    url("Montserrat-ExtraLight.ttf") format("truetype"),
    url('Montserrat-ExtraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova.eot");
    src: url("ProximaNova.eot?#iefix") format("embedded-opentype"),
    url("ProximaNova.woff") format("woff"),
    url("ProximaNova.woff2") format("woff2"),
    url("ProximaNova.ttf") format("truetype"),
    url('ProximaNova.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}